services:
  backend:
    build: 
      context: ./backend
    image: ghcr.io/yangyaofei/edge-tts-backend:latest
    container_name: edge-tts-backend
    ports:
      - "8000:8000"
    volumes:
      # Map local config directory for persistent settings
      # config.env will be generated in ./config/config.env if it doesn't exist
      - ./config:/app/config
    #environment:
    #  # SECRET_KEY will be loaded from the mounted .env file
    logging:
      driver: "json-file"
      options:
        max-size: "20m"
        max-file: "3"
    restart: unless-stopped
