services:
  backend:
    build: 
      context: ./backend
    image: ghcr.io/yangyaofei/edge-tts-backend:latest
    container_name: edge-tts-backend
    ports:
      - "8000:8000"
    environment:
      - SECRET_KEY=changethis_in_production_secret_key
      - ACCESS_TOKEN_EXPIRE_MINUTES=43200 # 30 days
    restart: unless-stopped
